<%= render partial: 'shared/menu' %>

<div class="Wrapper">
    <h1>Welcome <%= current_user.first_name %></h1>
    
    <p><%= @total_budget %></p>

    <%= render partial: 'shared/no_store' %>
    <div class="Table">
        <div class="Card" id="chart_div"><h3>Category of Event</h3><%= pie_chart Event.group(:category).count %></div>
        <div class="Card"><h3>Average cost of category</h3><%= bar_chart Event.group(:category).average(:cost) %></div>
        <div class="Card"></div>
        <div class="Card"></div>
        <div class="Card"></div>
    </div>
</div>

